services:
  mariadb:
    image: mariadb:12.2
    ports:
      - 3306:3306
    environment:
      - MARIADB_DATABASE=vmail
      - MARIADB_USER=vmail
      - MARIADB_PASSWORD=vmailpassword
      - MARIADB_ROOT_PASSWORD=example
    volumes:
      - ./resources/mariadb-database:/docker-entrypoint-initdb.d/